/* Navigation styles */
.nav-link {
  color: #666;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #f4f4f4;
  color: #37003c;
}

.active-nav-link {
  background-color: #37003c;
  color: white;
}

.active-nav-link:hover {
  background-color: #2a0029;
  color: white;
}